.skillsContainer {
    width: 100%;
    background-size: cover;
    background-color: rgb(10, 6, 31);
    color: white;
}

@media (max-width: 800px) {
    .skillsIconContainer {
        display: flex;
        padding-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 800px) {
    .skillsIconContainer {
        display: flex;
        padding-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.skillsImg {
    height: auto;
    max-width: 50px;
}

.skillsIconCard {
    display: flex;
    padding: 1px;
    box-shadow: 3px 3px 20px rgb(80 78 78 / 50%);
    border-radius: 10px;
    margin: 20px;
}

.skillsIconCardCont {
    background-color: rgb(10, 6, 31);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
  
.skillsHeader {
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
}

.skillsList {
    padding-top: 20px;
}