@media (min-width: 800px) {
  .homeContainer {
    width: 100%;
    height: 700px;
    color: white;
    display: flex;
    align-items: center;
  }

.homeAnimation {
  position: absolute;
  top: 21%;
  left: 50%;
  right: 0;
  bottom: 0;
}

.homeContainerCont div span h2 {
    font-size: 60px;
}
}

@media (max-width: 800px) {
  .homeContainer {
    width: 100%;
    height: 600px;
    color: white;
    display: flex;
    align-items: center;
  }

  .homeContainerCont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    width: calc(100vw - 32px);
}

.homeAnimation {
  display: none;
}

.homeContainerCont div span h2 {
    font-size: 50px;
}
}

.home-welcome {
  line-height: 30px;
}

.home-section {
  margin-bottom: 40px;
}

.enjoy {
    -webkit-animation: example 5s infinite; /* Safari 4.0 - 8.0 */
    animation: example 5s infinite;
}

.talkContainer {
  width: 200px;
  height: 50px;
  transition-duration: 0.4s;
  border-radius: 5px;
  background: linear-gradient(270deg, #F46737 0%, #945DD6 100%);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.talkContainer span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.talkContainer span:after {
  content: ':)';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.talkContainer:hover span {
  padding-right: 25px;
}

.talkContainer:hover span:after {
  opacity: 1;
  right: 0;
}

.talkButton {
  background-color: rgb(10, 6, 31);
  border-radius: 5px;
  height: 48px;
  width: 198px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.talkButton:hover {
  background-color: rgb(19, 12, 58);
}

.animated-intro span {
  color: white;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  -ms-animation: topToBottom 7.5s infinite;
  -webkit-animation: topToBottom 7.5s infinite;
  animation: topToBottom 7.5s infinite;
}

.animated-intro span:nth-child(2){
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.animated-intro span:nth-child(3){
  -ms-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated-intro span:nth-child(4){
  -ms-animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.animated-intro span:nth-child(5){
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}


@keyframes topToBottom {
  0%, 20% {opacity: 1} /* visible for 1s */
  20.01%, 100% {opacity: 0} /* hidden for 4s */
}