.homeContainer {
  width: 100%;
  height: 750px;
  color: white;
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .homeContainerCont {
    display: grid;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.homeContainerCont div span h2 {
    font-size: 60px;
}
}

@media (max-width: 800px) {
  .homeContainerCont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    width: calc(100vw - 32px);
}

.homeAnimation {
  display: none;
}

.homeContainerCont div span h2 {
    font-size: 50px;
}
}

.home-welcome {
  line-height: 30px;
}

.home-section {
  margin-bottom: 40px;
}

.enjoy {
    -webkit-animation: example 5s infinite; /* Safari 4.0 - 8.0 */
    animation: example 5s infinite;
}

.talk {
  display: inline-block;
  width: 200px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  background-color: #fff;
  background: linear-gradient(270deg, #F46737 0%, #945DD6 100%);
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
}

.talk span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.talk span:after {
  content: ':)';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.talk:hover span {
  padding-right: 25px;
}

.talk:hover span:after {
  opacity: 1;
  right: 0;
}

.animated-intro {
  height: 50px;
  font-size: 50px;
  margin-bottom: 20px;
}

.animated-intro span {
  color: white;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  -ms-animation: topToBottom 7.5s infinite;
  -webkit-animation: topToBottom 7.5s infinite;
  animation: topToBottom 7.5s infinite;
}

.animated-intro span:nth-child(2){
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.animated-intro span:nth-child(3){
  -ms-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated-intro span:nth-child(4){
  -ms-animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.animated-intro span:nth-child(5){
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}


@keyframes topToBottom {
  0%, 20% {opacity: 1} /* visible for 1s */
  20.01%, 100% {opacity: 0} /* hidden for 4s */
}