.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.bg-custom {
  background-color: rgb(10, 6, 31);
  color: white;
}

.navbar-nav li a {
  color: white;
}

.navbar-nav li a:hover {
  color: white;
}