.navbar-collapse {
  flex-grow: 0;
}

.navbar-fade-in {
  position: fixed;
  z-index: 1030;
  width: 100%;
  opacity: 1;
}

.navbar-fade-out {
  position: fixed;
  z-index: 1030;
  width: 100%;
  opacity: 0;
}

.nav-link {
  color: white !important; 
}

@media (min-width: 800px) {
  .bg-custom {
    background-color: rgb(10, 6, 31);
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .nav-link:hover {
    border-bottom: 1px solid white;
  }
}

@media (max-width: 800px) {
  .bg-custom {
    background-color: rgb(10, 6, 31);
  }
}

/* Header Logo */

.home-logo {
  font-size: 30px;
}

.headerLogoText { 
  color: white;
  position: absolute;
  padding-bottom: 5px;
}

.headerLogoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerCircle {
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  transition: all 0.2s ease-in;
}

.headerLogoContainer:hover .headerCircle{
  stroke-width: 2px;
}

.headerShape {
  height: 40px;
  width: 40px;
}

.headerShape .gradient-bg {
  fill: none;
  stroke: url(#header-shape-gradient) #fff;
}

#header-shape-gradient {
--color-stop: #F46737;
--color-bot: #945DD6;
}
