html {
    scroll-behavior: smooth;
}

.mainContainer {
    background-color: rgb(10, 6, 31);
}

.divider {
    width: 100px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
    background: linear-gradient(270deg, #F46737 0%, #945DD6 100%);
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .secondContainer {
        max-width: 1280px;
        width: 100%;
        margin: auto;
        padding: 0 100px;
    }    
}

@media (max-width: 800px) {
    .secondContainer {
        max-width: 1280px;
        width: 100%;
        margin: auto;
        padding: 0 40px;
    }    
}

#home {
 min-height: 750px;   
}
#projects {
 min-height: 750px;   
}
#tech {
 min-height: 750px;   
}
#contact {
 min-height: 620px;
}
#footer {
 min-height: 100px;   
}

/* Animations */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.collapse.navbar-collapse:not(.show) li:nth-child(1) {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;

    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.3s;
}

.collapse.navbar-collapse:not(.show) li:nth-child(2) {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;

    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.6s;
}

.collapse.navbar-collapse:not(.show) li:nth-child(3) {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;

    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.9s;
}

.fadeInUp-one {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.fadeInUp-two {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.3s;
}

.fadeInUp-three {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.6s;
}

.fadeInUp-four {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 0.9s;
}

.fadeInUp-five {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1s;
}

.fadeInUp-six {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1.3s;
}

.fadeInUp-seven {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1.6s;
}

.fadeInUp-eight {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-delay: 1.9s;
}

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }